main {
  padding: 2rem;
  background-color: var(--surface-color);
}

.profile-image {
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

h1 {
  font: var(--text-h1);
  color: var(--text-color-primary);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

main p {
  font: var(--text-md);
  color: var(--text-color-secondary);
  margin-bottom: 2rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
}

.profile-info p {
  margin: 0;
}

@media (width >= 48rem) {
  .profile-user {
    display: flex;
  }

  .info-user {
    flex: 3;
    display: flex;
    gap: 2rem;
  }
  
  .text-user {
    max-width: 300px;
  }

  .profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (width >= 80rem) {
.text-user {
    max-width: 410px;
  }
}